<!-- {{ roomsForm.valid | json }}
{{ roomsForm.invalid | json }}
{{ roomsForm.pristine | json }}
{{ roomsForm.dirty | json }}
{{ roomsForm.value | json }} -->
<div *ngIf="successMessage !== ''" class="alert alert-success">
  {{ successMessage }}
</div>

<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
  <div class="form-group">
    <input
      required
      type="text"
      class="form-control"
      name="roomType"
      placeholder="Room Type"
      [(ngModel)]="room.roomType"
      [ngModelOptions]="{ updateOn: 'blur' }"
    />
  </div>
  <div class="form-group">
    <input
      #roomamenites="ngModel"
      minlength="3"
      maxlength="50"
      required
      type="text"
      class="form-control"
      name="amenities"
      placeholder="Amenities"
      [(ngModel)]="room.amenities"
    />
    <div class="alert alert-danger" *ngIf="roomamenites.errors?.['minlength']">
      Amenities should be 5 chars min
    </div>
  </div>
  <div class="form-group">
    <input
      required
      type="number"
      class="form-control"
      name="price"
      placeholder="Price"
      [(ngModel)]="room.proce"
    />
  </div>
  <div class="form-group">
    <input
      required
      type="text"
      class="form-control"
      name="photos"
      placeholder="Photos"
      [(ngModel)]="room.photos"
    />
  </div>
  <div class="form-group">
    <input
      required
      type="datetime"
      class="form-control"
      name="checkingTime"
      placeholder="Checking Time"
      [(ngModel)]="room.checkingTime"
    />
  </div>
  <div class="form-group">
    <input
      required
      type="datetime"
      class="form-control"
      name="checkoutTime"
      placeholder="Checkout Time"
      [(ngModel)]="room.checkoutTime"
    />
  </div>
  <div class="form-group">
    <input
      required
      type="number"
      class="form-control"
      name="rating"
      placeholder="Rating"
      [(ngModel)]="room.rating"
    />
  </div>
  <button [disabled]="roomsForm.invalid" class="btn btn-primary" type="submit">
    Add Room
  </button>
</form>
